.app {
    display: flex;
    flex-direction: column;

}

.topo {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.forca-left {
    display: flex;
    justify-content: center;
}

.forca-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px
}

.chooseWord-btn {
    margin-top: 50px;
    width: 170px;
    height: 50px;
    background-color: green;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 18px;

}

.wordToGuess{
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.botton {
    background-color: yellow;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.letters{
    background-color: violet;
    width: 650px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.letter{
    margin: 10px;
    width: 30px;
    height: 30px;
    font-size: 15px;
    
}


.guess{
    margin-top: 15px;
    background-color: red;
    width: 100%;
}